html,
body {
  /* height: 100%; */
  /* background-color: grey; */
}

.main-bg {
  background-color: rgb(144, 145, 145);
}

body {
  background-color: rgb(176 176 176);
  overflow-y: scroll;
}

.expense-body {
  background-color: rgb(176 176 176);
  height: 100vh;
}

.table-title {
  text-align: center;
}

.tabs {
  width: 600px !important;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.776);
  border-radius: 10px;
  width: 450px;
}

.form-signin {
  /* max-width: 330px; */
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.daily-box {
  /* background-color: rgb(161, 238, 243); */
  height: 300px;
  border-radius: 15px;
}

.daily-date-row {
  display: grid;
  padding: 0px 10px 0 10px;
  grid-template-columns: 90px 60px 205px 180px 30px;
  grid-template-rows: repeat(2, 30px);
  background-color: rgb(3, 110, 74);
  color: #f5f5f5;
  border-radius: 10px;
}

.date {
  display: grid;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin-top: 5px;
  margin-left: 7px;
  /* padding-left: 11px; */
  font-size: 40px;
  height: 50px;
  width: 50px;
  grid-row: span 2;
  align-content: center;
  justify-content: center;
}

.day {
  grid-column: 3;
  grid-row: 2;
  padding-left: 1rem;
  padding-bottom: 4px;
  /* margin-bottom: 12px; */
}

.daily-month-year {
  padding-left: 1rem;
  padding-bottom: 4px;
}

.balance-label {
  grid-column: 4;
  grid-row: 1;
  align-self: end;
  font-size: 14px;
}

.daily-balance-amount {
  grid-column: 4;
  grid-row: 2;
}

.arrow-icon {
  grid-row: span 2;
  align-self: center;
}

.daily-credit-debit {
  display: grid;
  grid-template-columns: 50% 50%;
}

.monthly-total-income-expense {
  display: grid;
  grid-template-columns: 200px 100px 200px 80px;
}

.monthly-total-balance {
  grid-column: 3;
}

.cf-label {
  padding-left: 2%;
}

.cf-amount {
  display: grid;
  justify-content: end;
  padding-right: 5%;
}

.credit-table {
  grid-column: 1/3;
}

.table-info {
  color: green;
}

.debit-table {
  grid-column: 1/3;
}

.hiddenRow {
  padding: 0% !important;
}

.monthly-date-row {
  display: grid;
  padding: 0px 10px 0 10px;
  grid-template-columns: 30px 500px 30px;
  background-color: rgb(3, 110, 74);
  color: #f5f5f5;
  border-radius: 10px;
}

.month-year {
  display: grid;
  justify-content: center;
  font-size: 30px;
}

.add-btn-div {
  margin-right: 2%;
}

.total-expenditure-td {
  display: flex;
  justify-content: end;
}

.add-btn {
  border-radius: 24px;
  height: 49px;
  width: 49px;
  background-color: rgb(15, 103, 40);
  border-color: rgb(14, 83, 31);
}

.nav-tabs {
  margin-left: 20%;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  width: 297px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  width: 297px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.errormsg {
  display: none;
  background-color: rgb(230, 51, 51);
  border-radius: 20px;
  color: white;
}

.successmsg {
  display: none;
  background-color: rgb(25, 136, 25);
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 768px) {
  .daily-date-row {
    grid-template-columns: 40px 60px 125px 115px 30px;
  }
  .tabs {
    width: 400px !important;
  }
  .modal-fullscreen-sm-down {
    height: 50%;
  }
  .nav-tabs {
    margin: auto;
  }
}
